@tailwind base;
@tailwind components;
@tailwind utilities;


.body {
    background-color: black;
}

.signin-box{
    background-color: rgba(3, 4, 8, 0.7);
}

.signin-box-input{
    background-color: rgba(10, 12, 17, 0.8);
}

.browse{
  background-image: url('https://th.bing.com/th/id/R.b8414fd6cf0573f8d86c3d8dc7183e04?rik=HYgdPRWH8vQQ6w&riu=http%3a%2f%2fwallpapercave.com%2fwp%2fK0HCxt0.jpg&ehk=3OdT%2fHjlxJ%2f08TjGkoc9qNk7IYOPzwyDeGZt5OzqFMA%3d&risl=&pid=ImgRaw&r=0');
  /* background-repeat: no-repeat; */
  background-blend-mode: multiply; /* Blend the background image and color */
}

.header-box{
  background-color: rgba(0, 0, 0, 0.65);
}